body
{
	background: #323436;
}

.bounce 
{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 40px;
	height: 40px;
	margin-top: 80px;
	background: transparent;
	border-radius: 50%;
	transform: translate(-50%, -50%);

}

.bounce:before
{	
	content:'';
	position: absolute;
	z-index: 10;
	width: 100%;
	height: 100%;
	background: #188FA7;
	border-radius: 50%;
	box-shadow:inset 0 -10px rgba(0,0,0,0.1);
	animation: bounce .75s infinite linear;

}

.bounce:after
{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.1);
	border-radius: 50%;
	transform: scale(1, .25);
	animation: bounceshadow .75s infinite linear;
}


@keyframes bounce 
{
	0% { transform: translate(0, -50%) scale(1, .8);}
	30% { transform: translate(0, -250%) scale(.8, 1);}
	60% { transform: translate(0, -300%) scale(1, .8);}
	85% { transform: translate(0, -50%) scale(1, .8);}
	88% { transform: translate(0, -50%) scale(1, .8);}
	95%,100% { transform: translate(0, -50%) scale(1, .8);}
}

@keyframes bounceshadow
{
	0% { transform: scale(1,0.25);}
	30% { transform: scale(1,0.25);}
	60% { transform: scale(1,0.25);}
	85% { transform: scale(1,0.25);}
	90% { transform: scale(1,0.25);}
	100% { transform: scale(1,0.25);}  
}

h1
{
	text-align: center;
	display: flex;
	flex-direction: column-reverse;
	list-style: none;
	font: "Arial";

}